<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Flappy Bird Game</title>
    <script src="flappy.js" defer></script>
    <link rel="stylesheet" href="css/flappy.css">
</head>
<body>
    <div class="background"></div>
    <img src="flappyimages/Bird.png" alt="invalid-img" class="bird" id="bird-1">
    <div class="message">
        Enter to Start Game<p><span style="color:red">&uarr;</span>ArrowUp to Control</p>
    </div>
    <div class="score">
        <span class="score_title"></span>
        <span class="score_val"></span>
    </div>
    <form action="/flappy" method="post" id="form">
        <input type="hidden" id="finalScore" name="finalScore" value="">
    </form>
    
    
</body>
</html>