<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/galaxy.css">
    <title>Galaxy Invaders</title>
</head>
<body>
    <p> <span>Score: </span>  <span id="score">0</span> </p>
    <div>
        <canvas></canvas>
    </div>
</body>
<script src="galaxy.js"></script>
</html>