<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:3000/">
    <link rel="stylesheet" href="css/galaxy.css">
    <title>Galaxy Invaders</title>
</head>
<body>
    <p> <span>Score: </span>  <span id="score">0</span> </p>
    <div>
        <canvas></canvas>
    </div>

    <form action="/galaxy" method="post" id="form">
        <input type="hidden" id="finalScore" name="finalScore" value="">
        <input type="hidden" id="userId" name="userId" value="<%=id%>">
    </form>
    
</body>
<script src="galaxy.js"></script>
</html>