<html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Over</title>

    
    <link href="css/gameover.css" rel="stylesheet">
  </head>

  <body>
    <div class="text-box">
      <img class="logo" src="images/logo.svg" alt="" width="100" height="100">
      <h1 >GAME OVER!</h1>
        <p id="score">Your Score: <%= data.newScore%></p>
        <p id="highscore">Your High Score: <%= data.oldScore%></p>
        <p id="global-highscore">Best High Score:</p>
    </div>
  </body>

</html>
