<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="http://localhost:3000/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/pacman.css">
    <title>Pacman Game</title>
</head>
    <body>
        <p>Score: <span id="score">0</span>/93</p>
        <div><canvas></canvas></div>

        <form action="/pacman" method="post" id="form">
            <input type="hidden" id="finalScore" name="finalScore" value="">
            <input type="hidden" id="userId" name="userId" value="<%=id%>">
        </form>

    </body>
    <script src="pacman.js"></script>
</html>